<mat-toolbar class="header mat-elevation-z4">

    <span>

        <a>
            <img class="logo" src="assets/tce-logo.png" alt="logo" width="60" height="55">
        </a>

    </span>

    <span class="title-group">
        <a href="">
            <i class="material-icons">
                home
            </i>
            TCE-PI WEB
        </a>
    </span>

    <span class="title-group">

        <a routerLink="/situacao">Situação</a>

    </span>

    <span class="title-group">

        <a routerLink="/documentos">Documentos</a>

    </span>

    <span class="title-group">

        <a routerLink="/processos">Processos</a>

    </span>


</mat-toolbar>