<mat-toolbar class="header mat-elevation-z4">

    <span>

        <a>
            <img class="logo" src="assets/tce-logo.png" alt="logo" width="60" height="55">
        </a>

    </span>

    <span class="title-group">
        <a routerLink="/clientes">
            <i class="material-icons">
                home
            </i>
            TCE-PI WEB
        </a>
    </span>

    <span class="title-group">

        <a routerLink="/clientes">Clientes</a>

    </span>

    <span class="title-group">

        <a routerLink="/arquivos">Arquivos</a>

    </span>


</mat-toolbar>