<div class="container">
    <!-- Content here -->

    <h2 style="text-align:left; width:100%; padding:0;margin-top: 25px; margin-bottom: 20px;">Consultar Situação</h2>

    <div style="text-align:right; width:100%; padding:0;margin-top: 25px; margin-bottom: 20px;">
        <button type="button" class="btn btn-success" routerLink="/situacao/novo">Nova Situação</button>
    </div>

    <div class="table-responsive">

        <table mat-table class="table table-striped" [dataSource]="dataSituacao">

            <!-- Position Column -->
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef> #Cód. </th>
                <td mat-cell *matCellDef="let situacao"> {{situacao.id}} </td>
            </ng-container>

            <!-- Position Column -->
            <ng-container matColumnDef="nome_situacao">
                <th mat-header-cell *matHeaderCellDef> Situação </th>
                <td mat-cell *matCellDef="let situacao"> {{situacao.descricao}} </td>
            </ng-container>

            <!-- Position Column -->
            <ng-container matColumnDef="acoes">
                <th mat-header-cell *matHeaderCellDef> Ações </th>
                <td mat-cell class="botoes_tabela_acoes" *matCellDef="let situacao">
                    <a mat-button routerLink="/situacao/{{situacao.id}}">
                        asdfsd
                    </a>

                    <a mat-button routerLink="/situacao/{{situacao.id}}">
                        asdfsad
                    </a>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]"></mat-paginator>


    </div>

</div>