<div class="container">
    
    <!-- Content here -->

    <h2 style="text-align:left; width:100%; padding:0;margin-top: 25px; margin-bottom: 20px;">Consultar Situação</h2>

    <div style="text-align:right; width:100%; padding:0;margin-top: 25px; margin-bottom: 20px;">
        <button type="button" class="btn btn-success" routerLink="/situacao/novo">Nova Situação</button>
    </div>

    <div class="table-responsive">

        <table class="table pd-b-5 table-striped table-hover" *ngIf="(situacoes.length > 0)">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Descrição</th>
                    <th scope="col">Ações</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let situacao of situacoes">
                    <td>{{ situacao.id }}</td>
                    <td>{{ situacao.descricao}}</td>
                    <td>
                        <a class="btn btn btn-warning" title="Editar Situação"
                            routerLink="/situacao/{{situacao.id}}/editar">
                        </a>
                        <button class="btn btn-primary btn-sm" title="Visualizar descrição e/ou movimentações"
                        (click)="abrirDialogoInformacoesDemanda(situacao)">
                        <span class="btn-inner--icon"><i class="fa fa-search"></i></span>
                    </button>
                    </td>
                </tr>
            </tbody>
        </table>

        <!-- SEM DADOS -->
        <table class="table pd-b-5 table-striped table-hover" *ngIf="!(situacoes.length > 0)">
            <tbody>
                <tr style="background: white;">
                    <td>Nenhum registro encontrado</td>
                </tr>
            </tbody>
        </table>


    </div>



</div>