table {
    border: 1px solid #eeeeee;
    width: 100%;
}


.mat-column-id {
    width: 40px;
    padding-right: 30px;
    text-align: center;
}

.mat-column-nome {
    width: 310px;
    text-align: left;
}

.mat-column-email {
    width: 210px;
    text-align: left;
}

.mat-column-cpf {
    width: 200px;
    text-align: left;
}


.mat-paginator {
    display: flex;
    color: black;
    font-weight:600;
    justify-content: space-between;
}

::ng-deep .mat-form-field-underline {
  display: none;
}

.hide {
    display: none;
}